</main>

{% if page.lang == 'fr' %}
<footer role="contentinfo" id="wb-info">
  <nav role="navigation" class="container wb-navcurr">
    <div class="wb-navcurr pull-right">
      <a class="btn btn-default" href="https://www.canada.ca/fr/mobile.html#GORH">Application mobile HR GO</a>
      <a class="btn btn-default" href="https://carrieres-civiles-defense.canada.ca/">Carrières MDN</a>
      <a class="btn btn-default" href="https://github.com/Digital-HR">GitHub</a>
      <a class="btn btn-default" href="https://github.com/Digital-HR/site/issues">Signaler un problème</a>
    </div>
  </nav>
  <div class="brand">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">Haut de la page <span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% else %}
<footer role="contentinfo" id="wb-info">
  <nav role="navigation" class="container wb-navcurr">
    <div class="wb-navcurr pull-right">
      <a class="btn btn-default" href="https://www.canada.ca/en/mobile.html#HRGO">HR GO Mobile application</a>
      <a class="btn btn-default" href="https://civilian-careers-defence.canada.ca/">DND Careers</a>
      <a class="btn btn-default" href="https://github.com/Digital-HR">GitHub</a>
      <a class="btn btn-default" href="https://github.com/Digital-HR/site/issues">Report an Issue</a>
    </div>
  </nav>
  <div class="brand">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 visible-sm visible-xs tofpg">
          <a href="#wb-cont">Top of Page <span class="glyphicon glyphicon-chevron-up"></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>
{% endif %}

<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/wet-boew.min.js"></script>
<script src="{{ site.wet_cdts_hosturl }}/{{ site.wet_cdts_version }}/js/theme.min.js"></script>
